/* ajout padding pour le sticky header */
body{
	padding-top:120px;
}

/* titre H1 en rouge */
h1, .jumbotron h1 {
	color: #e6362c;
}

/* no border jumbotron */
.jumbotron {
	border: 0;
}

/* surcharge hauteur nav pour intégrer le logo */
/*.navbar-brand {
	height: 100px;
}
.nav >li >a {
  padding-top: 40px;
  padding-bottom: 40px;
}
.navbar-toggle {
  padding: 10px;
  margin: 25px 15px 25px 0;
}

@media (max-width: 768px) {
	.navbar-brand 
	}
}*/