<!DOCTYPE html>
<html>
    <head>
        <title>{$titre}</title>
        <script type="text/javascript" src="../js/adherent.js"></script>
    </head>
    <body>
        
        <h1>Ajouter un adhérent</h1>
        <br/>
        
        <form method="POST" action="ajoutAdherent.php">

            <label name='nom'>
                <p>Nom</p>
                <input type='text' name='ad_nom' id='ad_nom'>
            </label>

            <label name='prenom'>
                <p>Prénom</p>
                <input type='text' name='ad_prenom' id='ad_prenom'>
            </label>
            
            <label name='naissance'>
                <p>Date de naissance</p>
                <input type='date' name='ad_naissance' id='ad_naissance'>
            </label>
            
            <br/>
            <br/>
            <fieldset>
                <legend>Contact</legend>
                <label name='contactSame'><input type='checkbox' id='ad_sameInfo' onclick='ad_sameInfoContact();'>Même valeur</label>

                <label name='contact_nom'>
                    <p>Nom</p>
                    <input type='text' name='ad_contact_nom' id='ad_contact_nom'>
                </label>

                <label name='contact_prenom'>
                    <p>Prénom</p>
                    <input type='text' name='ad_contact_prenom' id='ad_contact_prenom'>
                </label>
                
                <label name='contact_adresse'>
                    <p>Adresse</p>
                    <input type='text' name='ad_contact_adresse' id='ad_contact_adresse'>
                </label>
                
                <label name='contact_cp'>
                    <p>Code&nbsp;postal</p>
                    <input type='text' size='5' maxlength='5' name='ad_contact_cp' id='ad_contact_cp'>
                </label>
                
                <label name='contact_ville'>
                    <p>Ville</p>
                    <input type='text' name='ad_contact_ville' id='ad_contact_ville'>
                </label>
                
                <br/><br/>
                <fieldset>
                    <legend>Numéro(s) de téléphone</legend>
                    
                    <input type='hidden' name='ad_contact_telNb' value='1'>
                    <input type='button' onclick="ad_contact_ajoutTel();return;" value='Ajouter'>
                    <div id='contact_liste_tel'>
                    </div>
                </fieldset>
                
            </fieldset>
            
            <br/>
            <br/>
            <input type='submit' value='Valider'>
        </form>
        
        
    </body>
</html>
