

<label name='equipe'>
    <p>Gestion des équipes - Équipe concernée</p>

    <select id='id_equipe' name='id_equipe'>
        <option value='-1'>- - - - - - - - - - - - - - - - - - - -</option>
        {foreach $equipes as $value}
        <option value="{$value->get_id_equipe()}">{$value->get_nom()}</option>
        {/foreach}
    </select>
    
    Ajouter un match le <input type='date' name='eq_match_date' id='eq_match_date'> 
    à <input type='text' size='1'  maxlength='2' name="eq_match_heure" id='eq_match_heure'>h00
    <input type='button' id='eq_match_valider' value='Valider'>

</label>

<div id='div_listeEquipe' style='display:none;'>
    
</div>