<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>{$title}</title>
		
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	
		<link href="css/bootstrap/theme.css" rel="stylesheet" media="screen">
		<link href="css/styles.css" rel="stylesheet" media="screen">
    </head>
    <body>
		
		<!-- MODAL BOX -->
		<div class="modal fade" id="scp_modal">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button id="scp_modal_close_button_small" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="scp_modal_title"></h4>
					</div>
					<div class="modal-body" id="scp_modal_content">
					</div>
					<div class="modal-footer">
						<button id="scp_modal_close_button" type="button" class="btn btn-default" data-dismiss="modal"></button>
						<button id="scp_modal_valid_button" type="button" class="btn btn-success hidden"></button>
					</div>
				</div>
			</div>
		</div>
		<!-- MODAL BOX fin -->

        {if isset($admin) && $admin eq '1'}
        <div>
            <a href='index.php?controller=admin&action=adherent&entry=list'>Gestion des adhérents</a>
            <a href='index.php?controller=admin&action=contact&entry=list'>Gestion des contacts</a>
            <a href='disconnect.php'>Déconnecter</a>
        </div>
        {/if}