
{include 'admin.header.html'}

<label name='contact_adherent'>
    <p>Gestion des adhérents - Liste des adhérents</p>

    <select id='id_adherent' name='id_adherent' >
        <option value='-1'>- - - - - - - - - - - - - - - - - - - -</option>
        {foreach $adherents as $value}
        <option value="{$value->get_id_adherent()}">{$value->get_nom()}&nbsp;{$value->get_prenom()}&nbsp;(&nbsp;{$value->get_date_naissance()}&nbsp;)</option>
        {/foreach}
    </select>
    ou
    <input id='ad_id_nouveau' name='ad_id_nouveau' type="button" value="Nouvel adhérent">


</label>

<div id='ad_modification' style='display:none;'>
       
</div>

{include 'admin.footer.html'}