
{include 'admin.header.html'}

<div class="col-md-9">
    <p>Gestion des adhérents</p>
    <form class="form-horizontal">
        
        <div class="form-group text col-md-12">
            <input class="btn btn-success" id="ad_id_nouveau" name="ad_id_nouveau" value="Nouvel adhérent" >
        </div>

        <div class="form-group">
            <label for="id_adherent" class="col-lg-3 control-label">Sélectionnez un adhérent</label>
            <div class="col-lg-9">
                <select id="id_adherent" name="id_adherent" class="form-control">
                   <option value='-1'>- - - - - - - - - - - - - - - - - - - -</option>
                   {foreach $adherents as $value}
                   <option value="{$value->get_id_adherent()}">{$value->get_nom()}&nbsp;{$value->get_prenom()}&nbsp;(&nbsp;{$value->get_date_naissance()}&nbsp;)</option>
                   {/foreach}
               </select>
            </div>
        </div>
    </form>

<div id='ad_modification' style='display:none;'>
       
</div>
    
</div>

{include 'admin.footer.html'}