

<label name='contact_adherent'>
    <p>Gestion des contacts - Liste des adhérents</p>

    <select id='contact_id_adherent' name='contact_id_adherent'>
        <option value='-1'>- - - - - - - - - - - - - - - - - - - -</option>
        {foreach $adherents as $value}
        <option value="{$value->get_id_adherent()}">{$value->get_nom()}&nbsp;{$value->get_prenom()}&nbsp;(&nbsp;{$value->get_date_naissance()}&nbsp;)</option>
        {/foreach}
    </select>

</label>

<div id='id_listeContacts' style='display:none;'>
    
</div>