{include 'admin.header.html'}

    <h1>{$title}</h1>
    <form method="POST" action="?controller=admin&action=partenaires&entry=add" >
        <label name='partenaire_titre'>
            <p>titre/nom du partenaire</p>
            <input type='text' name='titre' id='partenaire_titre' required>
        </label>
        
        <label name='partenaire_description'>
            <p>description du partenaire</p>
            <input type='text' name='description' id='partenaire_description'>
        </label>
        
        <label name='partenaire_lien'>
            <p>lien vers le site du partenaire</p>
            <input type='text' name='lien' id='partenaire_lien'>
        </label>
        
        <label name='partenaire_logo'>
            <p>logo du partenaire (adresse web)</p>
            <input type='text' name='lien_logo' id='partenaire_logo' required>
        </label>
        
        <label name='partenaire_position'>
            <p>position dans la page par rapport aux autres partnaires</p>
            <input type='text' name='position' id='partenaire_position' required pattern="[0-9]+">
        </label>
        
        <br/>
        <input type='submit' value='Valider'>
    </form>
    
{include 'admin.footer.html'}

