
<div class="col-md-9">

    <h3>Gestion des équipes</h3>
    
    <form class="form-horizontal">
        <div class="form-group">
        <div class="col-lg-12">
            <select id='id_equipe' name='id_equipe' class="form-control">
                <option value='-1'>- - - - - - - - - - - - - - - - - - - -</option>
                {foreach $equipes as $value}
                <option value="{$value->get_id_equipe()}">{$value->get_nom()}</option>
                {/foreach}
            </select>
    
            Ajouter un match le <input type='date' name='eq_match_date' id='eq_match_date'> 
            à <input type='text' size='1'  maxlength='2' name="eq_match_heure" id='eq_match_heure'>h00
            <input type='button' id='eq_match_valider' value='Valider'>
        </div>
        </div>
    </form>


<div id='div_listeEquipe' style='display:none;'>
    
</div>
    
</div>