{include 'admin.header.html'}


<form id='ad_form' method="POST" action="index.php">
    
    <input type='hidden' name='controller' value='admin'>
    <input type='hidden' name='action' value='processConn'>
    
    <label name='admin_login'>
        <p>Connexion</p>
        <input type='text' name='admin_login'>
    </label>
    <br/>
    <label name='admin_password'>
        <p>Mot de passe</p>
        <input type='password' name='admin_password'>
    </label>
    <br/>
    <br/>
    <input type='submit' value='Connexion'>
    
</form>


{include 'admin.footer.html'}