{include 'home.header.html'}

<div class="jumbotron scp_bandeau scp_bandeau_contact"></div>	

    <!-- MAIN CONTAINER -->
    <div class="container">

            <!-- BREADCRUMB -->
            <ul class="breadcrumb">
                    <li><a href="index.php">Accueil</a></li>
                    <li class="active">Actualités</li>
            </ul>
            <!-- BREADCRUMB fin -->


            <h1>Les actualités du club</h1>

            <h2>Titre actualité</h2>
            <h3><small>publiée le 14 Mai 2018 par Steven DUMONT</small></h3>
            <img src="images/photo2.jpg" class="img-thumbnail img-responsive pull-left margin-md scp_visuel_actu" alt="visuel">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl...&nbsp;<a href="#">&rsaquo;&nbsp;lire la suite</a></p>

            <hr>

            <h2>Titre actualité</h2>
            <h3><small>publiée le 14 Mai 2018 par Steven DUMONT</small></h3>
            <img src="images/photo1.jpg" class="img-thumbnail img-responsive pull-left margin-md scp_visuel_actu" alt="visuel">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl.</p>

            <hr>

            <h2>Titre actualité</h2>
            <h3><small>publiée le 14 Mai 2018 par Steven DUMONT</small></h3>
            <img src="images/photo1.jpg" class="img-thumbnail img-responsive pull-left margin-md scp_visuel_actu" alt="visuel">

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse pulvinar enim sit amet tellus malesuada congue. Phasellus porttitor augue id ligula vestibulum, a bibendum nisi rhoncus. Morbi massa risus, mattis congue purus eu, mollis porta nunc. Sed ornare tortor eget diam blandit, in pulvinar lacus feugiat. Curabitur id efficitur nisl, quis bibendum neque. Nunc suscipit maximus elit, sit amet viverra augue euismod a. Donec finibus tristique mauris. Donec ullamcorper libero vel ante tempor sagittis. Nam ultrices quis elit vel porta. Maecenas sit amet quam vel leo finibus tempus sit amet in lectus. Suspendisse finibus felis nec metus ultricies volutpat. Duis elementum ante justo, eget convallis lacus mollis a. Mauris vel iaculis ligula, eu dignissim nisl.</p>

            <div class="text-center">
                    <ul class="pagination">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">5</a></li>
                            <li><a href="#">»</a></li>
                    </ul>
            </div>

    </div>
    <!-- MAIN CONTAINER -->
    
 {include 'home.footer.html'}