
{include 'home.header.html'}

<!-- BANDEAU VISUEL -->
<div class="jumbotron scp_bandeau scp_bandeau_contact"></div>

<!-- MAIN CONTAINER -->
<div class="container">

        <!-- BREADCRUMB -->
        <ul class="breadcrumb">
                <li><a href="index.php">Accueil</a></li>
                <li class="active">Inscription</li>
        </ul>
        <!-- BREADCRUMB fin -->


        <h1>Inscription</h1>

        <div class="row">

                <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h2>FFVB</h2>
                                </div>

                                <div class="panel-body">
                                        <div class="row text-center">
                                                <p>Elle concerne les enfants et adultes souhaitant participer à une compétition régionale. Les équipes engagées dans cette formule s’entrainent deux fois par semaine et les rencontres ont lieu le week-end. C’est la pratique la plus courante et la plus demandée. De ce fait, le nombre de places dans ces équipes est limité à 12 joueurs.</p>
                                                <a href="#"><img src="images/section-ffvb.jpg" class="img-responsive" alt=""></a>

                                        </div>
                                </div>
                        </div>
                </div>

                <div class="col-xs-12 col-sm-12 col-md-6">
                        <div class="panel panel-primary">
                                <div class="panel-heading">
                                        <h2>FSGT</h2>
                                </div>

                                <div class="panel-body">
                                        <div class="row text-center">
                                                <p>Cette pratique ne concerne que le public adulte. Il s’agit d’une formule de compétition allégée. Ces groupes ne possèdent qu’un seul entrainement en semaine. À la reprise du championnat (Octobre) cet entrainement est, la plupart du temps, remplacé par un match. Le club possède cette année 1 équipe garçon et 2 équipes mixtes.</p>
                                                <a href="#"><img src="images/section-fsgt.png" class="img-responsive" alt=""></a>
                                        </div>
                                </div>
                        </div>
                </div>

        </div>

</div>
<!-- MAIN CONTAINER -->

{include 'home.footer.html'}