<!-- MODAL BOX -->
<div class="modal fade" id="scp_modal">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button id="scp_modal_close_button_small" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h4 class="modal-title" id="scp_modal_title"></h4>
			</div>
			<div class="modal-body" id="scp_modal_content">
			</div>
			<div class="modal-footer">
				<button id="scp_modal_close_button" type="button" class="btn btn-default" data-dismiss="modal"></button>
				<button id="scp_modal_valid_button" type="button" class="btn btn-success hidden"></button>
			</div>
		</div>
	</div>
</div>
<!-- MODAL BOX fin -->